alias xclip="xclip -selection c"
alias rdesktop='rdesktop -g 1024x768'
alias vboxmanage='VBoxManage'
alias lt='ls -lrth --color=auto'
alias digq='dig +nostats +nocomments +nocmd +noquestion'
alias cal='cal -3'
alias pgrep='pgrep -a'
alias trc='transmission-remote-cli'
alias r='ranger'
alias pwgen='pwgen -s'
alias xxsos='xsos -ay'
alias ips4='ip -4 -o a | awk '\''{ print $2"\t"$4 }'\'
alias ips6='ip -6 -o a | awk '\''{ print $2"\t"$4 }'\'
alias ips='ips4'
alias wtr="curl http://wttr.in/Athens-Greece"
alias rot13="tr '[A-Za-z]' '[N-ZA-Mn-za-m]'"
alias xxd="xxd -g1"
alias d="docker"
alias s=sudo
