alias xclip="xclip -selection c"
alias rdesktop='rdesktop -g 1024x768'
alias vboxmanage='VBoxManage'
alias lt='ls -lth --color=auto'
alias digq='dig +nostats +nocomments +nocmd +noquestion'
alias cal='cal -3'
alias pgrep='pgrep -a'
alias trc='transmission-remote-cli'
alias r='ranger'
alias pwgen='pwgen -nc'
alias xxsos='xsos -ay'
alias ips='ip -f inet -o a | awk '\''{ print $2,$4 }'\'
