# change the password store directory
passdir() {
    if [[ -n "$1" ]]; then
        export PASSWORD_STORE_DIR="$(cd "$1"; pwd -P)"
    else
        unset PASSWORD_STORE_DIR
    fi
}

vimdiffhex() {
    nvim -d <(xxd -a "$1") <(xxd -a "$2")
}

uncom() {
    cat "$@" | awk '!/^\s*#|^$/'
}

soxy() {
    [[ -n "$1" ]] || return 2
    track_path="$1"
    track=${track_path##*/}

    sox --show-progress "$track_path" -n spectrogram -o "$PWD"/"$track".png
}

cdc() {
    target="$HOME/cases/$1"

    [ -d "$target" ] || mkdir "$target" && cd "$target"
}

bthash() {
    transmission-show -m "$1" | sed -r 's/.*btih:([0-9a-fA-F]{40}).*/\1/'
}

# vim:ft=zsh
