# change the password store directory
passdir() {
    if [[ -n "$1" ]]; then
        export PASSWORD_STORE_DIR="$(cd "$1"; pwd -P)"
    else
        unset PASSWORD_STORE_DIR
    fi
}

vimdiffhex() {
    nvim -d <(xxd -a "$1") <(xxd -a "$2")
}

uncom() {
    cat "$@" | awk '!/^\s*#|^$/'
}

soxy() {
    track_path="$1"
    track=${track_path##*/}

    sox --show-progress "$track_path" -n spectrogram -o "$PWD"/"$track".png
}

# vim:ft=zsh
