# change the password store directory
function passdir {
    if [[ -n "$1" ]]; then
        wdsave=$(pwd)
        cd "$(dirname "$0")"
        export PASSWORD_STORE_DIR="$(pwd)/$1"
        cd "$wdsave"
    else
        unset PASSWORD_STORE_DIR
    fi
}
