[core]
    excludesfile = ~/.gitignore_global
[credential]
    helper = cache
[alias]
    l = log --graph --oneline --decorate
    st = status --short --branch
[push]
    default = simple
[color]
    ui = true
