/**************
 * Scrollbars *
 **************/

.scrollbar {
	background-image: none;
	border-style: solid;
    -GtkRange-stepper-size: 16;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 0;
	-GtkRange-arrow-scaling: 0.666;
	-GtkRange-slider-width: 13;
	-GtkRange-trough-under-steppers: 1;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true;
	-GtkScrollbar-activate-slider: 1;
    -GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;	
}

.scrollbar.trough,
.scrollbar.trough.vertical {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.98)),
		to (shade (@theme_bg_color, 1.06)));
	border-radius: 0;
	border-width: 0 0 0 0;
	border-style: solid;
	border-right-color: shade (@theme_bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_dark_color, 0.96)),
		to (shade (@theme_bg_dark_color, 0.96)));
	-unico-inner-stroke-width: 0;
	border-left-color: shade (@theme_bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_dark_color, 0.96)),
		to (shade (@theme_bg_dark_color, 0.96)));
	-unico-inner-stroke-width: 0;
}

.scrollbar.trough.horizontal {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@theme_bg_color, 0.98)),
		to (shade (@theme_bg_color, 1.06)));
	border-radius: 0;
	border-width: 0 0 0 0;
	border-style: solid;
	border-top-color: shade (@theme_bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@theme_bg_dark_color, 0.96)),
		to (shade (@theme_bg_dark_color, 0.96)));
	border-bottom-color: shade (@theme_bg_color, 0.96);
	-unico-border-gradient: -gtk-gradient (linear, left top, right top,
		from (shade (@theme_bg_dark_color, 0.96)),
		to (shade (@theme_bg_dark_color, 0.96)));
}

/* Sliders and buttons */
.scrollbar.slider.vertical {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.95)),
		to (shade (@theme_bg_color, 0.8)));
	border-color: shade (@theme_bg_color, 0.65);
	border-radius: 10px;
	border-width: 1px;
}

.scrollbar.slider.vertical:hover,
.scrollbar.slider.vertical:hover:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.85)),
		to (shade (@theme_bg_color, 0.7)));
	border-color: shade (@theme_bg_color, 0.85);
	border-width: 0 0 0 0;
}

.scrollbar.slider.horizontal {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@theme_bg_color, 0.95)),
		to (shade (@theme_bg_color, 0.8)));
	border-color: shade (@theme_bg_color, 0.65);
	border-radius: 10px;
	border-width: 1px;
}

.scrollbar.slider.horizontal:hover,
.scrollbar.slider.horizontal:hover:active {
	background-image: -gtk-gradient (linear, left top, right top,
		from (shade (@theme_bg_color, 0.85)),
		to (shade (@theme_bg_color, 0.7)));
	border-color: shade (@theme_bg_color, 0.85);
	border-width: 0 0 0 0;
}

.scrollbar.slider:insensitive {
	background-color: shade (@theme_bg_color, 0.9);
}

.scrollbar.trough:insensitive {
	background-color: shade (@theme_bg_color, 1.06);
}

/* Fixes a bug in Opera */
.scrollbar.button {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (@transparent),
		to (@transparent));
	background-color: @transparent;
	-unico-outer-stroke-width: 0;
	-unico-outer-stroke-color: @transparent;
	-unico-inner-stroke-width: 0;
	-unico-inner-stroke-color: @transparent;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (@transparent),
		to (@transparent));
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (@transparent),
		to (@transparent));
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (@transparent),
		to (@transparent));
}

/* overlay scrollbar */
OsThumb {
	color: shade (@theme_fg_color, 1.6);
}

OsThumb:selected,
OsScrollbar:selected {
	background-color: @theme_selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
	background-color: shade (@theme_bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
	background-color: shade (@theme_bg_color, 0.85);
}

/*******************
 * scrolled window *
 *******************/
GtkScrolledWindow.frame {
	border-top-color: shade (@theme_bg_color, 0.84);
	border-right-color: shade (@theme_bg_color, 0.76);
	border-bottom-color: shade (@theme_bg_color, 0.86);
	border-left-color: shade (@theme_bg_color, 0.76);
	border-radius: 0;
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-width: 0;
}
